{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app",
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "src/setupTests.ts",
          "src/**/*.test.ts",
          "src/**/*.test.tsx"
        ]
      }
    ]
  }
}